# Machine Learning Notebook - Matt

In [1]:
import HelperFunctions as hf
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
import statsmodels.api as sm

## Load Data

In [2]:
#Load in the raw data
calendar_df = hf.load_calendar_data()
prices_df = hf.load_sell_price_data()
sales_df = hf.load_sales_train_validation_data()

## Clean Data

In [3]:
#Clean the raw data
df = hf.rawToClean(sales_df, calendar_df, prices_df, days=1200, items=1000, dropNAPrices=True)

## Feature Engineering

In [4]:
df = hf.rollingMeanDemandFeature(df, windowSize=7, shift=1) #Mean of previous week
df = hf.rollingMeanDemandFeature(df, windowSize=28, shift=1) #Mean of previous 28 days

In [5]:
df = hf.rollingMeanWeekday(df, weeks = 3, shift = 1) #mean of previous 3 weeks (for that particular weekday)

/Users/mattwear/GroupWork/AML/HelperFunctions.py:230: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  data = pd.concat([data, d])

In [5]:
df = hf.lagFeature(df, var='sold', lag=1) #Amount sold day before
df = hf.lagFeature(df, var='sold', lag=7) #Amount sold a week before
df = hf.lagFeature(df, var='sold', lag=28) #Amount sold 28 days before

In [6]:
df.dropna(inplace=True) #Drop rows with NAs (as result of lagged features)

In [7]:
df.drop(['id'], axis=1, inplace=True) #Drop the id column

In [8]:
df.isnull().sum()

d                    0
sold                 0
wday                 0
month                0
year                 0
snap_CA              0
snap_TX              0
snap_WI              0
sell_price           0
Cultural             0
National             0
Religious            0
Sporting             0
NoEvent              0
Christmas            0
weekend              0
midweek              0
monfri               0
FOODS_1              0
FOODS_2              0
FOODS_3              0
HOBBIES_1            0
HOBBIES_2            0
HOUSEHOLD_1          0
HOUSEHOLD_2          0
FOODS                0
HOBBIES              0
HOUSEHOLD            0
CA_1                 0
CA_2                 0
CA_3                 0
CA_4                 0
TX_1                 0
TX_2                 0
TX_3                 0
WI_1                 0
WI_2                 0
WI_3                 0
CA                   0
TX                   0
WI                   0
rolling_mean_7_1     0
rolling_mean_28_1    0
sold_lag_1           0
sold_lag_7           0
sold_lag_28          0
dtype: int64

In [9]:
df.head(10)

,d,sold,wday,month,year,snap_CA,snap_TX,snap_WI,sell_price,Cultural,...,WI_2,WI_3,CA,TX,WI,rolling_mean_7_1,rolling_mean_28_1,sold_lag_1,sold_lag_7,sold_lag_28
28003,29,3,1,2,2011,0,0,0,1.98,0,...,0,0,0,0,1,3.000000,2.357143,4.0,3.0,2.0
28005,29,0,1,2,2011,0,0,0,4.97,0,...,0,0,1,0,0,0.571429,0.321429,1.0,2.0,0.0
28006,29,0,1,2,2011,0,0,0,0.54,0,...,0,0,0,1,0,1.428571,1.571429,0.0,4.0,2.0
28008,29,0,1,2,2011,0,0,0,5.94,0,...,0,0,0,1,0,0.285714,0.178571,0.0,1.0,0.0
28011,29,0,1,2,2011,0,0,0,4.98,0,...,0,0,1,0,0,0.142857,0.428571,0.0,1.0,2.0
28013,29,2,1,2,2011,0,0,0,6.97,0,...,0,1,0,0,1,0.142857,0.607143,0.0,0.0,0.0
28014,29,3,1,2,2011,0,0,0,0.97,0,...,0,1,0,0,1,2.000000,4.107143,1.0,6.0,8.0
28017,29,10,1,2,2011,0,0,0,1.18,0,...,0,0,0,1,0,1.714286,1.750000,0.0,2.0,0.0
28021,29,0,1,2,2011,0,0,0,0.20,0,...,0,0,1,0,0,0.000000,8.535714,0.0,0.0,6.0
28023,29,0,1,2,2011,0,0,0,2.38,0,...,0,0,0,1,0,0.000000,0.250000,0.0,0.0,1.0

In [10]:
df.shape

(771183, 46)

In [11]:
df.columns

Index(['d', 'sold', 'wday', 'month', 'year', 'snap_CA', 'snap_TX', 'snap_WI',
       'sell_price', 'Cultural', 'National', 'Religious', 'Sporting',
       'NoEvent', 'Christmas', 'weekend', 'midweek', 'monfri', 'FOODS_1',
       'FOODS_2', 'FOODS_3', 'HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1',
       'HOUSEHOLD_2', 'FOODS', 'HOBBIES', 'HOUSEHOLD', 'CA_1', 'CA_2', 'CA_3',
       'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1', 'WI_2', 'WI_3', 'CA', 'TX',
       'WI', 'rolling_mean_7_1', 'rolling_mean_28_1', 'sold_lag_1',
       'sold_lag_7', 'sold_lag_28'],
      dtype='object')

# Machine Learning

## Train/Test Split
We also isolate the target variables from the features

In [12]:
#Standardise features
cols_to_norm = ['d','wday','month','year','sell_price','rolling_mean_7_1','rolling_mean_28_1','sold_lag_1',
                'sold_lag_7','sold_lag_28']

df[cols_to_norm] = MinMaxScaler().fit_transform(df[cols_to_norm])

In [13]:
#Isolate features and target variable
y = df.sold.values
X_df = df.drop(['sold'], axis=1)
X = X_df.values

In [14]:
#Train/test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [15]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(616946, 45)
(616946,)
(154237, 45)
(154237,)

## Linear Regression
The results of fitting a linear regression model on the data and analysing the feature's p-values raises some interesting findings. 
* Amongst the event related features only cultural and xmas are significant. As expected, Xmas is the most influential feature of them all.  
* The LR also confirms our findings in analysis that weekend/monfri/midweek are all significant features for predicting sales volume. 
* CA_4 and CA_3 is the only store that is an insignificant predictor. Perhaps higher population in this area?
* The mean of sold items in the week leading up is the second most influential feature.
* More expensive items sell in lower quantities

In [16]:
mod = sm.OLS(df['sold'], df[X_df.columns])
#mod = sm.OLS(y_train, X_train)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   sold   R-squared:                       0.589
Model:                            OLS   Adj. R-squared:                  0.589
Method:                 Least Squares   F-statistic:                 3.067e+04
Date:                Tue, 02 Mar 2021   Prob (F-statistic):               0.00
Time:                        15:01:35   Log-Likelihood:            -1.7991e+06
No. Observations:              771183   AIC:                         3.598e+06
Df Residuals:                  771146   BIC:                         3.599e+06
Df Model:                          36
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
d                    -1.7272      0.785     -2.202      0.028      -3.265      -0.190
wday                  0.1548      0.014     11.004      0.000       0.127       0.182
month                 0.4699      0.225      2.091      0.037       0.029       0.910
year                  1.5984      0.734      2.176      0.030       0.159       3.038
snap_CA               0.0260      0.011      2.459      0.014       0.005       0.047
snap_TX               0.0579      0.008      7.205      0.000       0.042       0.074
snap_WI               0.0258      0.008      3.296      0.001       0.010       0.041
sell_price           -0.2342      0.030     -7.855      0.000      -0.293      -0.176
Cultural             -0.2313      0.058     -4.010      0.000      -0.344      -0.118
National             -0.0962      0.064     -1.505      0.132      -0.222       0.029
Religious            -0.0509      0.059     -0.868      0.385      -0.166       0.064
Sporting             -0.1026      0.069     -1.479      0.139      -0.239       0.033
NoEvent              -0.0520      0.061     -0.849      0.396      -0.172       0.068
Christmas            -1.1563      0.059    -19.700      0.000      -1.271      -1.041
weekend               0.2797      0.019     14.790      0.000       0.243       0.317
midweek              -0.1837      0.018     -9.957      0.000      -0.220      -0.148
monfri               -0.0869      0.019     -4.650      0.000      -0.124      -0.050
FOODS_1              -0.0120      0.010     -1.214      0.225      -0.031       0.007
FOODS_2              -0.0194      0.010     -2.029      0.042      -0.038      -0.001
FOODS_3               0.0464      0.008      5.474      0.000       0.030       0.063
HOBBIES_1             0.0236      0.011      2.095      0.036       0.002       0.046
HOBBIES_2            -0.0325      0.013     -2.516      0.012      -0.058      -0.007
HOUSEHOLD_1           0.0191      0.010      1.900      0.057      -0.001       0.039
HOUSEHOLD_2          -0.0162      0.010     -1.635      0.102      -0.036       0.003
FOODS                 0.0150      0.019      0.773      0.440      -0.023       0.053
HOBBIES              -0.0089      0.018     -0.504      0.615      -0.043       0.026
HOUSEHOLD             0.0029      0.017      0.167      0.867      -0.031       0.037
CA_1                 -0.0053      0.009     -0.571      0.568      -0.024       0.013
CA_2                 -0.0038      0.010     -0.395      0.693      -0.023       0.015
CA_3                  0.0384      0.009      4.059      0.000       0.020       0.057
CA_4                 -0.0207      0.009     -2.250      0.024      -0.039      -0.003
TX_1                  0.0072      0.009      0.772      0.440      -0.011       0.025
TX_2                  0.0011      0.009      0.115      0.908      -0.017       0.019
TX_3                 -0.0007      0.009     -0.072      0.942      -0.018       0.017
WI_1                 -0.0032      0.009     -0.345      0.730      -0.021       0.015
WI_2                 -0.0044      0.010     -0.454      0.650      -0.023       0.014
WI_3                  0.0004      0.010      0.044      0.965      -0.018       0.019
CA                    0.0086      0.019      0.454      0.650      -0.028       0.045
TX                    0.0076      0.018      0.430      0.667      -0.027       0.042
WI                   -0.0071      0.018     -0.404      0.686      -0.042       0.028
rolling_mean_7_1     28.3852      0.247    114.866      0.000      27.901      28.870
rolling_mean_28_1    19.9098      0.171    116.210      0.000      19.574      20.246
sold_lag_1           59.4524      0.496    119.827      0.000      58.480      60.425
sold_lag_7            5.7242      0.498     11.500      0.000       4.749       6.700
sold_lag_28          21.9978      0.442     49.768      0.000      21.131      22.864
==============================================================================
Omnibus:                  1515025.054   Durbin-Watson:                   2.000
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      52788980626.329
Skew:                          14.670   Prob(JB):                         0.00
Kurtosis:                    1284.400   Cond. No.                     5.88e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.17e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [ ]:
###Train test split
###Normalise features
###More Data Analysis
###Feature Extraction - average of weekday - exponential averages - Eve Events
###Modelling
###Feature selection - Linear Regression/RandomForests/Lasso/Correlation plots