# Machine Learning Notebook - Matt

In [1]:
import HelperFunctions as hf
import numpy as np
import pandas as pd

In [2]:
#Load in the raw data
calendar_df = hf.load_calendar_data()
prices_df = hf.load_sell_price_data()
sales_df = hf.load_sales_train_evaluation_data()

In [3]:
#Clean the raw data
df = hf.rawToClean(sales_df, calendar_df, prices_df, days=300, items=100, dropNAPrices=True)

In [4]:
df.isnull().sum()

d              0
sold           0
wday           0
month          0
year           0
snap_CA        0
snap_TX        0
snap_WI        0
sell_price     0
sporting       0
cultural       0
national       0
religious      0
christmas      0
weekend        0
midweek        0
monfri         0
FOODS_1        0
FOODS_2        0
FOODS_3        0
HOBBIES_1      0
HOBBIES_2      0
HOUSEHOLD_1    0
HOUSEHOLD_2    0
FOODS          0
HOBBIES        0
HOUSEHOLD      0
CA_1           0
CA_2           0
CA_3           0
TX_1           0
TX_2           0
TX_3           0
WI_1           0
WI_2           0
WI_3           0
CA             0
TX             0
WI             0
dtype: int64

In [5]:
df.columns

Index(['d', 'sold', 'wday', 'month', 'year', 'snap_CA', 'snap_TX', 'snap_WI',
       'sell_price', 'sporting', 'cultural', 'national', 'religious',
       'christmas', 'weekend', 'midweek', 'monfri', 'FOODS_1', 'FOODS_2',
       'FOODS_3', 'HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2',
       'FOODS', 'HOBBIES', 'HOUSEHOLD', 'CA_1', 'CA_2', 'CA_3', 'TX_1', 'TX_2',
       'TX_3', 'WI_1', 'WI_2', 'WI_3', 'CA', 'TX', 'WI'],
      dtype='object')

In [6]:
df.head()

,d,sold,wday,month,year,snap_CA,snap_TX,snap_WI,sell_price,sporting,...,CA_3,TX_1,TX_2,TX_3,WI_1,WI_2,WI_3,CA,TX,WI
7,1,0,1,1,2011,0,0,0,5.47,0,...,0,0,0,0,0,0,0,1,0,0
10,1,0,1,1,2011,0,0,0,2.18,0,...,0,1,0,0,0,0,0,0,1,0
16,1,0,1,1,2011,0,0,0,0.47,0,...,0,0,0,0,0,1,0,0,0,1
20,1,2,1,1,2011,0,0,0,1.98,0,...,0,0,0,0,1,0,0,0,0,1
21,1,4,1,1,2011,0,0,0,3.32,0,...,0,0,0,0,0,0,0,1,0,0