# Data Mining: Used Cars on Craigslist

In [2]:
import os
import zipfile
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Load Data

In [3]:
cars = pd.read_csv('data/vehicles.csv', index_col=0)

## Data Inspection

In [6]:
cars.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,drive,size,type,paint_color,image_url,description,state,lat,long,posting_date
0,7240372487,https://auburn.craigslist.org/ctd/d/auburn-uni...,auburn,https://auburn.craigslist.org,35990,2010.0,chevrolet,corvette grand sport,good,8 cylinders,...,rwd,NaN,other,NaN,https://images.craigslist.org/00N0N_ipkbHVZYf4...,Carvana is the safer way to buy a car During t...,al,32.590000,-85.480000,2020-12-02T08:11:30-0600
1,7240309422,https://auburn.craigslist.org/cto/d/auburn-201...,auburn,https://auburn.craigslist.org,7500,2014.0,hyundai,sonata,excellent,4 cylinders,...,fwd,NaN,sedan,NaN,https://images.craigslist.org/00s0s_gBHYmJ5o7y...,I'll move to another city and try to sell my c...,al,32.547500,-85.468200,2020-12-02T02:11:50-0600
2,7240224296,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,4900,2006.0,bmw,x3 3.0i,good,6 cylinders,...,NaN,NaN,SUV,blue,https://images.craigslist.org/00B0B_5zgEGWPOrt...,Clean 2006 BMW X3 3.0I. Beautiful and rare Bl...,al,32.616807,-85.464149,2020-12-01T19:50:41-0600
3,7240103965,https://auburn.craigslist.org/cto/d/lanett-tru...,auburn,https://auburn.craigslist.org,2000,1974.0,chevrolet,c-10,good,4 cylinders,...,rwd,full-size,pickup,blue,https://images.craigslist.org/00M0M_6o7KcDpArw...,1974 chev. truck (LONG BED) NEW starter front ...,al,32.861600,-85.216100,2020-12-01T15:54:45-0600
4,7239983776,https://auburn.craigslist.org/cto/d/auburn-200...,auburn,https://auburn.craigslist.org,19500,2005.0,ford,f350 lariat,excellent,8 cylinders,...,4wd,full-size,pickup,blue,https://images.craigslist.org/00p0p_b95l1EgUfl...,2005 Ford F350 Lariat (Bullet Proofed). This t...,al,32.547500,-85.468200,2020-12-01T12:53:56-0600

In [7]:
cars.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'state', 'lat', 'long', 'posting_date'],
      dtype='object')

In [8]:
cars.shape

(458213, 25)

In [28]:
cars.describe()

,id,price,year,odometer,lat,long
count,4.582130e+05,4.582130e+05,457163.000000,4.029100e+05,450765.000000,450765.000000
mean,7.235233e+09,4.042093e+04,2010.746067,1.016698e+05,38.531925,-94.375824
std,4.594362e+06,8.194599e+06,8.868136,3.228623e+06,5.857378,18.076225
min,7.208550e+09,0.000000e+00,1900.000000,0.000000e+00,-82.607549,-164.091797
25%,7.231953e+09,4.900000e+03,2008.000000,4.087700e+04,34.600000,-110.890427
50%,7.236409e+09,1.099500e+04,2013.000000,8.764100e+04,39.244500,-88.314889
75%,7.239321e+09,2.149500e+04,2016.000000,1.340000e+05,42.484503,-81.015022
max,7.241019e+09,3.615215e+09,2021.000000,2.043756e+09,82.049255,150.898969

In [24]:
#Total number of null values in each column
cars.isnull().sum()

id                   0
url                  0
region               0
region_url           0
price                0
year              1050
manufacturer     18220
model             4846
condition       192940
cylinders       171140
fuel              3237
odometer         55303
title_status      2577
transmission      2442
VIN             187549
drive           134188
size            321348
type            112738
paint_color     140843
image_url           28
description         70
state                0
lat               7448
long              7448
posting_date        28
dtype: int64

In [22]:
print("PERCENTAGE OF ROWS WITH NAN:")
print(cars.isnull().sum() / cars.shape[0] * 100)

PERCENTAGE OF ROWS WITH NAN:
id               0.000000
url              0.000000
region           0.000000
region_url       0.000000
price            0.000000
year             0.229151
manufacturer     3.976317
model            1.057587
condition       42.107055
cylinders       37.349442
fuel             0.706440
odometer        12.069278
title_status     0.562402
transmission     0.532940
VIN             40.930528
drive           29.285070
size            70.130703
type            24.603841
paint_color     30.737452
image_url        0.006111
description      0.015277
state            0.000000
lat              1.625445
long             1.625445
posting_date     0.006111
dtype: float64

In [11]:
#Every row is a unique car
len(np.unique(cars.id))

458213

In [16]:
#print(np.unique(cars.region))
print("Number of unique regions:", len(np.unique(cars.region)))

Number of unique regions: 405

In [18]:
print("Number of unique region urls:", len(np.unique(cars.region_url)))

Number of unique region urls: 413

In [27]:
print(np.max(cars.year))
print(np.min(cars.year))
print(np.mean(cars.year))

2021.0
1900.0
2010.7460665014448

In [36]:
#Price
#Clearly at least 1 huge outlier.
print(np.mean(cars.price))
print(np.max(cars.price))
print(np.min(cars.price))

40420.93069598637
3615215112
0

In [62]:
def uniqueAndCounts(col):
    print(np.unique(cars[col].astype(str)))
    print(cars[col].astype(str).value_counts())

In [63]:
#Manufacturer
#Doesnt appear to be any spelling issues.
uniqueAndCounts(col='manufacturer')

['acura' 'alfa-romeo' 'aston-martin' 'audi' 'bmw' 'buick' 'cadillac'
 'chevrolet' 'chrysler' 'datsun' 'dodge' 'ferrari' 'fiat' 'ford' 'gmc'
 'harley-davidson' 'hennessey' 'honda' 'hyundai' 'infiniti' 'jaguar'
 'jeep' 'kia' 'land rover' 'lexus' 'lincoln' 'mazda' 'mercedes-benz'
 'mercury' 'mini' 'mitsubishi' 'morgan' 'nan' 'nissan' 'pontiac' 'porsche'
 'ram' 'rover' 'saturn' 'subaru' 'tesla' 'toyota' 'volkswagen' 'volvo']
ford               79666
chevrolet          64977
toyota             38577
honda              25868
nissan             23654
jeep               21165
nan                18220
ram                17697
gmc                17267
dodge              16730
bmw                12352
hyundai            10975
mercedes-benz      10628
subaru             10510
volkswagen         10489
kia                 8854
chrysler            7499
lexus               7119
cadillac            6743
buick               6009
mazda               5931
audi                5583
acura               4008
infiniti            3714
lincoln             3338
pontiac             3037
volvo               2866
mini                2330
mitsubishi          2301
porsche             1779
rover               1662
mercury             1645
saturn              1393
tesla               1067
jaguar              1060
fiat                 955
alfa-romeo           187
harley-davidson      139
ferrari               96
datsun                63
aston-martin          35
land rover            21
morgan                 3
hennessey              1
Name: manufacturer, dtype: int64

In [45]:
print("Number of unique car models:", len(np.unique(cars.model.astype(str))))

Number of unique car models: 31521

In [64]:
#Condition
uniqueAndCounts(col='condition')

['excellent' 'fair' 'good' 'like new' 'nan' 'new' 'salvage']
nan          192940
good         115685
excellent    115206
like new      24553
fair           7740
new            1428
salvage         661
Name: condition, dtype: int64

In [65]:
#Cylinders
uniqueAndCounts(col='cylinders')

['10 cylinders' '12 cylinders' '3 cylinders' '4 cylinders' '5 cylinders'
 '6 cylinders' '8 cylinders' 'nan' 'other']
nan             171140
6 cylinders     105677
4 cylinders      94767
8 cylinders      81179
5 cylinders       2058
10 cylinders      1543
other             1112
3 cylinders        550
12 cylinders       187
Name: cylinders, dtype: int64

In [66]:
#Fuel
uniqueAndCounts(col='fuel')

['diesel' 'electric' 'gas' 'hybrid' 'nan' 'other']
gas         399399
diesel       31077
other        16359
hybrid        5790
nan           3237
electric      2351
Name: fuel, dtype: int64

In [67]:
#Title_status
uniqueAndCounts(col='title_status')

['clean' 'lien' 'missing' 'nan' 'parts only' 'rebuilt' 'salvage']
clean         439626
rebuilt         8698
salvage         4233
nan             2577
lien            2091
missing          794
parts only       194
Name: title_status, dtype: int64

In [68]:
#Transmission
uniqueAndCounts(col='transmission')

['automatic' 'manual' 'nan' 'other']
automatic    396322
other         32186
manual        27263
nan            2442
Name: transmission, dtype: int64

In [69]:
#Drive
uniqueAndCounts(col='drive')

['4wd' 'fwd' 'nan' 'rwd']
4wd    139693
nan    134188
fwd    122602
rwd     61730
Name: drive, dtype: int64

In [70]:
#Size
uniqueAndCounts(col='size')

['compact' 'full-size' 'mid-size' 'nan' 'sub-compact']
nan            321348
full-size       69736
mid-size        41782
compact         21825
sub-compact      3522
Name: size, dtype: int64

In [71]:
#Type
uniqueAndCounts(col='type')

['SUV' 'bus' 'convertible' 'coupe' 'hatchback' 'mini-van' 'nan' 'offroad'
 'other' 'pickup' 'sedan' 'truck' 'van' 'wagon']
nan            112738
sedan           92364
SUV             79882
pickup          43343
truck           35694
other           24160
coupe           19106
hatchback       16388
wagon           10473
van              9574
convertible      6864
mini-van         6263
bus               717
offroad           647
Name: type, dtype: int64

In [72]:
#Colour
uniqueAndCounts(col='paint_color')

['black' 'blue' 'brown' 'custom' 'green' 'grey' 'nan' 'orange' 'purple'
 'red' 'silver' 'white' 'yellow']
nan       140843
white      82786
black      64145
silver     46722
red        33274
blue       32746
grey       30455
custom      8843
green       7631
brown       6028
yellow      2002
orange      1970
purple       768
Name: paint_color, dtype: int64

In [73]:
cars.posting_date

0         2020-12-02T08:11:30-0600
1         2020-12-02T02:11:50-0600
2         2020-12-01T19:50:41-0600
3         2020-12-01T15:54:45-0600
4         2020-12-01T12:53:56-0600
                    ...
458208    2020-12-03T08:56:29-0600
458209    2020-12-03T08:48:08-0600
458210    2020-12-02T14:09:45-0700
458211    2020-12-02T13:01:04-0700
458212    2020-12-02T12:03:45-0700
Name: posting_date, Length: 458213, dtype: object

## Data Cleaning

In [10]:
#Remove VIN and image_url features
cars.drop(['VIN','image_url'], axis=1, inplace=True)

In [16]:
#Convert posting_date to date type
cars['posting_date'] = cars['posting_date'].str[:10].astype('datetime64[ns]')

In [34]:
#Convert categorical features to string type
columns_to_str = ['url','region','region_url','manufacturer','model','condition','cylinders',
                 'fuel','title_status','transmission','drive','size','type','paint_color','description',
                 'state']

for col in columns_to_str:
    cars[col] = cars[col].astype(str)